.MiPerfil{

    background-color: rgba(254, 193, 64, 1);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: BLACK;
    border-radius: 40px;
    transition: all 0.3s;
    cursor: pointer;
}
  
.switch:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: white;
    top: 2.3px;
    left: 2.5px;
    transition: all 0.3s;
}
  
input[type='checkbox']:checked + .switch:after {
    transform: translateX(20px);
    background-color: #fff;
}
  
input[type='checkbox']:checked + .switch {
    background-color: rgba(254, 193, 64, 1);
}
  
.offscreen {
    position: absolute;
    left: -999px;
}

#avatar{
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}
#avatar>img{
    border-radius: 100%;
    border: 5px;
    border-color: grey;
}
#BtnGuardar{
    display: flex;
    justify-content: center;
}
#BGuardar{
    height: 100px;
    width: 400px;
    font-size: 32px;
    border-radius: 15px;
}
.form-control{
    height: auto;
    width: 400px;
    display: flex;
    
}
#apellido1{
    float: right;
}

.inputs{
    height: 100px;
    width: 500px;
    display: ;
}